<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}" />

    <title>Settings</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #c56a97;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#" th:href="@{/}">Vibes Web</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/about}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="reset" class="h3">Use the button bellow to reset your rejected quotes:</label>
                <input type="button" id="reset" value="Reset rejected quotes!" class="btn btn-outline-danger"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="reset-success" class="alert alert-info" style="display: none;">Rejected quotes were reset successfully.</div>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/js/script.js}"></script>

</body>
</html>